@*
 * This template takes two arguments.
 *@
@(stream: Call, post: Call)(implicit req: RequestHeader)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {
    <div class="log"></div>
    <input type="text" name="message" placeholder="Your message"/>


    <div class="polls"></div>
    <button id="startPollButton" onclick="startPoll()">Start poll</button>

    <script>
            var user = prompt("What should be your username?");

            $("input").on("keyup", function (e) {
                if (e.keyCode != 13)
                    return;

                var m = {message: this.value, user: user};
                this.value = "";

                $.ajax({
                    url: "@post.toString()",
                    data: JSON.stringify(m),
                    method: "post",
                    contentType: "application/json"
                });
            });


            var feed = new EventSource("@stream.absoluteURL()");
            feed.addEventListener("message", function (msg) {
                var m = JSON.parse(msg.data);
                $(".log").append("<div class='message'>" + m.user + ": " + m.message + "</div>");
            });


            var countPolls = 0;

            function startPoll() {
                var pollName = prompt("What should be the name of this poll?");
                countPolls++;
                var pollId = "poll" + countPolls;
                $(".polls").append("<div class='poll' id='"+pollId+"'></div>");

                $("#"+pollId+"").append("<h4>" + pollName +"</h4>");
                $("#"+pollId+"").append("<div class='options"+countPolls+"'></div>");
                $("#"+pollId+"").append("<button id='addOptionButton' onclick='addOption()'>Add option</button>");

            }

            function addOption(){
                var option = prompt("What should be the text of this option?");

                $(".options"+countPolls+"").append("<input type='checkbox'>"+option+"</input>");
            }
    </script>
}
